!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Mindpin
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{href: "//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet"}
    %link{href: "/font-awesome.bundle.css", rel:"stylesheet"}
    %link{href: "/app.bundle.css", rel: "stylesheet"}
  %body
    .page-index
      .sidebar
        .header
          .title
            %i.fa.fa-cog{"aria-hidden"=>"true"}
            案例展示
        %ul.menu
          %li
            %a{href: "/products//bian_li_dian.html"} 便利店下单小程序
          %li
            %a{href: "#"} 商城小程序
      .main
        首页
