!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Mindpin
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{href: "//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet"}
    %link{href: "../../font-awesome.bundle.css", rel:"stylesheet"}
    %link{href: "../../app.bundle.css", rel: "stylesheet"}
  %body
    .page-product
      .sidebar
        .header
          .title
            %i.fa.fa-cog{"aria-hidden"=>"true"}
            案例展示
        %ul.menu
          %li.active
            %a{href: "../products//bian_li_dian.html"} 便利店下单小程序
          %li
            %a{href: "#"} 商城小程序（未完成）
      .main.product-content
        %h2 便利店下单小程序

        %h3 总体介绍
        %p 便利店下单小程序是一个为便利店提供便捷的线上下单的系统，便利店的顾客可以通过手机访问本系统，完成选购，下单，配送一条龙服务。借助于微信小程序的先进架构，不用安装APP就可以完成以上操作。非常适合想要打造精品便利店的店主使用。

        %h3 顾客使用的功能介绍

        %h4 商品浏览页
        %img.app{src: "http://i.teamkn.com/i/Lc8526Aa.jpg"}
        %p
          顾客在这个界面可以选购自己需要购买的商品。<br/>
          左侧是商品分类，可以上下滚动，点击可以切换分类，右侧的商品列表也会相应的变化。<br/>
          右侧的商品列表，也是可以上下滚动的，点击商品名称右侧的 + 号后，就可以把商品加入购物车，如果想要购买多份，也可以多点击几次 + 号<br/>

        %h4 购物车查看
        %img.app{src: "http://i.teamkn.com/i/XJoKIvgJ.jpg"}
        %p 可以在购物车中对已经选择的商品数量进行修改，也可以完全清空购物车。修改完成后，点击 我选好了 进行下一步操作。

        %h4 订单确认
        .line-imgs.clearfix
          %img.app{src: "http://i.teamkn.com/i/Ue4u5TKx.jpg"}
          %img.app{src: "http://i.teamkn.com/i/fsP3BIky.jpg"}
          %img.app{src: "http://i.teamkn.com/i/XT0buBC3.jpg"}
          %img.app{src: "http://i.teamkn.com/i/BIJsgTLE.jpg"}
        %p 顾客在订单确认页面增加配送地址，核对自己购买的商品，确认无误后，点击 确认下单 完成下单，并进入付款页面。

        %h4 付款
        %img.app{src: "http://i.teamkn.com/i/LLrGuZyJ.jpg"}
        %p 顾客在付款页面，可以选择 微信支付 或者 支付宝支付。

        %h3 后台的功能介绍

        %h4 店铺管理
        %img.pc{src: "http://i.teamkn.com/i/EebgmUWG.png"}
        %p 如果便利店是连锁的，可以在店铺管理界面创建多个店铺，包括店铺名称，电话，地址这些信息。

        %h4 订单管理
        %img.pc{src: "http://i.teamkn.com/i/jVvRm9Nu.png"}
        %p 在订单管理界面可以查看订单的详细信息，并且能对订单做出操作，包括 配送完毕，退款。

        %h4 订单评论
        %img.pc{src: "http://i.teamkn.com/i/YyQdG2T5.png"}
        %p 在这个界面可以看到所有顾客的评论。

        %h4 优惠活动管理
        %img.pc{src: "http://i.teamkn.com/i/DMUD5Cu1.png"}
        %p 在这个界面可以创建店铺的优惠活动。

        %h4 管理员用户管理
        %img.pc{src: "http://i.teamkn.com/i/NOcNHBjv.png"}
        %p 在这个界面可以创建管理员账号和店主账号。
